
 .htmx-indicator {
     opacity: 0;
     transition: opacity 500ms ease-in;
     position: absolute;
     height: 100px;
     width: 100px;
     top: 50%;
     left: 50%;
     margin-left: -50px;
     margin-top: -50px;
 }

.htmx-request .htmx-indicator {
    opacity: 1
}

.htmx-request.htmx-indicator {
    opacity: 1
}